<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="CopyProduct" xsi:type="object">Kushal\Test\Console\Command\CopyProduct</item>
			</argument>
		</arguments>
	</type>
	 <type name="Magento\Catalog\Model\Product\CopyConstructor\Composite"> 
        <arguments> 
            <argument name="constructors" xsi:type="array"> 
                <item name="crossSell" xsi:type="string">Magento\Catalog\Model\Product\CopyConstructor\CrossSell</item> 
                <item name="upSell" xsi:type="string">Magento\Catalog\Model\Product\CopyConstructor\UpSell</item> 
                <item name="related" xsi:type="string">Magento\Catalog\Model\Product\CopyConstructor\Related</item> 
                <item name="catalog_inventory" xsi:type="string">Magento\CatalogInventory\Model\Product\CopyConstructor\CatalogInventory</item> 
                <item name="downloadable" xsi:type="string">Magento\Downloadable\Model\Product\CopyConstructor\Downloadable</item> 
            </argument>
        </arguments> 
    </type> 
	<type name="Magento\Catalog\Model\Product\Copier"> 
		<arguments> 
			<argument name="copyConstructor" xsi:type="object">Magento\Catalog\Model\Product\CopyConstructor\Composite</argument> 
		</arguments> 
	</type>
</config>


